/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/


/* for bibtex */
#bibheader{padding:00px 0; }

#bibheader nav{display:block; float:none; margin:10px 0 0 0; padding:10px 0; color:#C0BAB6; background-color:#C0BAB6;}
#bibheader nav ul{padding:0 20px;}
#bibheader nav li{display:inline; margin-right:0px; text-transform:uppercase;}
#bibheader nav li.last{margin-right:0;}
#bibheader nav li a{font-family: 'Fira Sans', sans-serif; font-weight: 500; font-size:15px; color:#202020;
                    background-color:#C0BAB6; padding: 0 0; text-decoration: none; }
#bibheader nav li a:hover, .drop:hover .drop-content:hover .dropbtn{color:#FF9900; background-color:#FFFFFF;}


#bibheader table{border-collapse: collapse;  width: 100%; padding:10px; }
#bibheader th, td {text-align: left; font-family: 'Fira Sans', sans-serif; font-weight: 500; font-size:14px; padding:10px; }
#bibheader table tr:nth-child(even) {background-color: #FFF }
#bibheader table tr:nth-child(odd) {background: #f2f2f2;}

#bibheader #bibhggroup{float:left; margin:0 0 10px 0;}
#bibheader #bibhggroup h1{font-family: 'Fira Sans', sans-serif; font-weight: 500; font-size:16px; padding:0px;}
#bibheader #bibhggroup h2{font-family: 'Fira Sans', sans-serif; font-weight: 500; font-size:20px; padding:10px;}
#bibheader table li{margin-left:25px;  margin-right:0px; text-transform:none;}
 

#bibheader h1{font-family: 'Fira Sans', sans-serif; font-weight: 500; font-size:15px;}


